@font-face {
  font-family: Flaunters;
  src: url('./font/Flaunters.otf');
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: url("./img/win11\(1\).jpg") no-repeat center center;
  object-fit: fill;
  font-family: Flaunters;
  -webkit-user-select: none; /* Safari, Chrome, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE, Edge */
  user-select: none; /* Standard syntax */
}

aside {
  width: 240px;
  height: 750px;
  border-radius: 1.5rem;
  margin-top: 2.5rem;
  border: 2px solid rgba(255, 255, 255, 0.38);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

aside > img {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
}

section {
  margin-top: 2.5rem;
  margin-left: 5rem;
}

section > h6 {
  font-weight: 200;
  line-height: 0;
}

section > h4 {
  font-weight: 600;
  line-height: 0;
}

.menus > p {
  margin-top: 5rem;
  margin-left: 1.2rem;
}

.flex {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.flex > img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.flex > p {
  margin-left: 1rem;
}

.skills > p {
  font-weight: 100;
  margin-left: 1.2rem;
}
